// GUI styles by Maxim Sinukov
// For example, styles of the links, buttons and so on.

.m-title {
    line-height: normal;
    font-size: 40px;
    color: #1963AE;
    @media screen and (max-width: 767px) {
        font-size: 32px;
    }
}
.m-desc {
    font-size: 16px;
    font-weight: 500;
    color: #434343;
}

.m-bg-cont {
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    img {
        display: none;
    }
}

.html {
    h1,h2 {
        @extend .m-title-2;
        margin-bottom: 20px;
        line-height: 30px !important;
    }
    h3 {
        @extend .m-title-3;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        color: $text;
        font-weight: 400;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 24px;
        color: $blue;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    h5 {
        color: #1963AE;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        margin-top: 10px;
    }
    ul {
        li {
            margin-bottom: 25px;
            padding-left: 20px;
            list-style: none;
            color: #688AAB;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            font-size: 16px;
            &:before {
                content: '';
                position: absolute;
                left: 0px;
                width: 10px;
                height: 10px;
                top: 5px;
                border-radius: 50px;
                background-color: $orange;
            }
        }
    }
    figure {
        max-width: 100%;
        margin-left: 20px;
        @media screen and (max-width: 500px) {
            margin-left: 0;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.m-title-3 {
    color: $blue;
    font-weight: bold;
    font-size: 30px;
}

.m-button-2 {
    border: 2px solid $blue;
    display: flex;
    align-items: center;
    justify-content: center;    
    min-width: 205px;
    height: 50px;
    border-radius: 50px;    
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #1963AE;
    box-shadow: 0px 4px 7px rgba(25, 99, 174, 0.15);
    background-color: transparent;
    transition: 0.3s;   
    &:hover {
        background-color: $blue;
        color: white;
        svg {
            fill: #003B77;
        }
    }
    &.active {
        background-color: $blue;
        color: white;
        svg {
            fill: #003B77;
        }
    }

    svg {
        transition: 0.3s;
        margin-right: 10px;
        fill: #C3D2DC;
    }

}

.sc {
    &__container {
        padding: 70px 80px;
        background: $light;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            padding: 30px;
        }
        @media screen and (max-width: 767px) {
            padding: 15px;
        }
    }
    &__form {
        display: flex;
        align-items: center;   
        margin-top: 10px; 
        flex-wrap: wrap;
        @media screen and (max-width: 425px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        span {
            color: #688AAB;
            font-size: 16px;
            font-weight: 500;
            margin-right: 30px;
            margin-bottom: 20px;
            @media screen and (max-width: 425px) {
                margin-right: 0;
            }
        }
        a {
            margin-bottom: 20px;
        }
        input {
            margin-right: 15px;
            margin-bottom: 10px;
            @media screen and (max-width: 425px) {
                margin-right: 0;
            }
        }
        .m-field__container {
            margin-bottom: 20px;
        }
        button {
            max-width: 240px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.button-vk {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    background-color: #6084AC;
    border-radius: 50px;
    height: 50px;
    padding: 0 55px;
    font-size: 14px;
    color: white;
    svg {
        margin-right: 10px;
    }
    @media screen and (max-width: 425px) {
        margin-right: 0;
    }
}
.m-button {
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 30px;
    height: 50px;
    align-items: center;
    white-space: nowrap;
    background: #FE6313;
    box-shadow: 0px 4px 7px rgba(25, 99, 174, 0.15);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;    
    flex-grow: 0;
    padding-right: 58px;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    border: none;
    text-align: center;
    vertical-align: middle;
    &__icon {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #DA5815;
        border-radius: 100px;
        right: 5px;
        top: 5px;
        svg {
            fill: white;
        }
    }
    &.reverse {
        padding-left: 58px;
        padding-right: 30px;
        justify-content: center;
        .m-button__icon {
            right: calc(100% - 45px);
        }
    }
    &:hover {
        background-color: #e45711;
    }
    &:active {
        background-color: #d15010;
    }
}

.m-title-2 {
    font-size: 36px;
    line-height: normal;
    color: #1963AE;
    font-weight: bold;
    @media screen and (max-width: 767px) {
        font-size: 28px;
    }
    span {
        color: $orange;
    }
}

.m-button-noicon {
    @extend .m-button;
    padding-right: 30px;
    
}

.m-table, .html table {
    min-width: 100%;
    background-color: #F4FAFF;
    th,td {
        padding: 22px 43px;
        text-align: left;
        border-left: 2px solid #D4E2ED;
        &:first-child {
            border-left: 0;
        }
    }
    th {
        color: $blue;
        font-weight: bold;
        font-size: 18px;
    }
    td {
        color: #688AAB;
        font-size: 16px;
        font-weight: 400;
    }
    tr {
        border-bottom: 2px solid #D4E2ED;
        &:first-child {
            border-radius: 10px;
            background: #E2EDF6;
            border-bottom: none;
        }
        &:last-child {
            border: none;
        }
    }
}
.m-table__container {
    max-width: 100%;
    overflow-x: auto;
    
}


.m-field {
    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(25, 99, 174, 0.15);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 26px;
    height: 100%;
    border: 2px solid #fff;
    max-width: 100%;
    font-size: 14px;
    line-height: normal;
    color: #B2C2CD;
    transition: 0.3s;
    box-shadow: none;
    &.error {
        border-color: $orange !important;
    }
    &.valid {
        border-color: #68a852 !important;
    }
    &-angle {
        @extend .m-field;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &__container {
        height: 50px;
        position: relative;
        .m-placeholder {
            transition: 0.3s;
            font-size: 14px;
            line-height: normal;
            color: #B2C2CD;
            font-size: 12px;
            position: absolute;
            top: 50%;
            transition: 0.3s;
            transform: translateY(-50%);
            left: 26px;
        }
    }
    
    &.required {
        ~ .m-placeholder:after {
            content: ' *';
            color: $orange;
        }
    }
    &:disabled{
        opacity: 0.6;
        user-select: none;
    }
    &:focus ~ .m-placeholder {
        opacity: 0;
    }
    &.is-focus ~ .m-placeholder {
        opacity: 0;
    }
}

.m-textarea {
    padding: 0;
    padding-left: 27px;
    padding-top: 13px;
    border-radius: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    vertical-align: top;
    height: 110px !important;
    font-size: 14px;
    line-height: normal;
    color: #B2C2CD;
    &::placeholder {
        transition: 0.3s;
        font-size: 14px;
        line-height: normal;
        color: #B2C2CD;
        font-size: 12px;
        position: absolute;
        transition: 0.3s;
    }
    &:focus::placeholder {
        opacity: 0;
    }
}

.mr0 {
    margin-right: 0 !important; 
}

.mt10 {
    margin-top: 10px !important; 
}

.mt20 {
    margin-top: 20px !important; 
}

.mt30 {
    margin-top: 30px !important; 
}

.mt15 {
    margin-top: 15px !important; 
}

.mt25{
    margin-top: 25px !important; 
}

.mb10{
    margin-bottom: 10px !important; 
}

.mb20 {
    margin-bottom: 20px !important; 
}

.mb30 {
    margin-bottom: 30px !important; 
}

.ml10{
    margin-left: 10px !important;
}

.ml20{
    margin-left: 20px !important;
}

.ml30{
    margin-left: 30px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mr10{
    margin-right: 10px !important;
}
.mr15{
    margin-right: 15px !important;
}

.mr20{
    margin-right: 20px !important;
}

.mr30{
    margin-right: 30px !important;
}

.mb85 {
    margin-bottom: 85px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mt60 {
    margin-top: 60px !important;
}
.mb60 {
    margin-bottom: 60px !important;
}

.m-button-3 {
    height: 50px;
    background-color: transparent;
    color: $orange;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: 2px solid $orange;
    transition: 0.3s;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
        background-color: $orange;
        color: white;
    }
}

.mt85 {
    margin-top: 85px !important;
}

.m-desc {
    font-size: 16px;
    line-height: normal;
    color: #688AAB;
    font-weight: 400;

}


.m-check {
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        display: none;
        &:checked {
            & ~ div {
                &:before {
                    opacity: 1 !important;
                }
            }
        }
    }

    div {
        position: relative;
        width: 15px;
        height: 15px;
        border: 2px solid $orange;
        &:before {
            content: '';
            position: absolute;
            width: 6px;
            top: 50%;
            left: 50%;
            height: 4px;
            border-left: 2px solid $orange;
            border-bottom: 2px solid $orange;
            transform: translate(-50%, -70%) rotate(-45deg);
            opacity: 0;
            transition: 0.2s;
        }
    }
    p {
        margin-left: 15px;
        color: #688AAB;
        font-weight: 400;
        font-size: 16px;
    }
}
.next {
    margin-bottom: 85px;
    .m-button {
        width: 270px;
    }
    .wrapper {
        display: flex;  
        flex-direction: row;
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
}

.checkout-nav {
    margin-bottom: 80px;
    .wrapper {
        display: flex;
        justify-content: space-between;  
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    &-button {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 146px;
        border: 2px solid $blue;
        background: $blue;
        color: white;
        vertical-align: middle;
        text-align: center;
        border-radius: 100px;   
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
        svg {
            fill: white;
            margin-right: 15px;
        }
        transition: 0.3s;
        &:hover {
            svg {
                fill: $blue;
            }
            background-color: #fff;
            color: $blue;
        }
    }
    &-next {
        svg {
            margin-right: 0;
            margin-left: 15px;
            transform: rotate(180deg);
        }
    }
}

