<div class="disk mt85 mb85">
    <div class="wrapper">
        <div class="disk__container">
            <div class="disk__left">
                <div class="m-title-2">Получите <span>скидку 10%</span> на первую покупку!</div>
                <div class="m-desc">
                    Подпишитесь на нашу рассылку Вконтакте и/или Email и будьте всегда вкурсе <br> новинок, спецпредложений, конкурсов и других полезных событий!
                </div>
                <div class="m-desc">
                    После подписки вам в сообщения и/или на почту придет купон на скидку
                </div>
                <form action="#" class="disk__form disk-form">
                    <input type="text" name="name" placeholder="Ваше имя" class="m-field required">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="m-field phone-mask required">
                    <input type="text" name="name" placeholder="Ваш e-mail" class="m-field required">
                    <button class="m-button mr15">
                        <div class="m-button__icon">
                            {{Icon iconName="arrow"}}
                        </div>
                    </button>
                    <div class="information-big">Все поля обязательны
                    к заполнению</div>
                </form>
                <span class="information">Оставляя свои данные вы соглашаетесь с <a href="#">политикой конфеденциальности</a> сайта
                    </span>
            </div>

            <div class="disk__right">
                <img src="%=static=%img/content/disc.png" alt="">
            </div>

        </div>
    </div>
</div>