<div class="prod__item">
    <div class="prod__like like like-notactive">
        {{Icon iconName="like"}}
    </div>
    
    <div class="prod__img-cont">
        <a href="#" class="prod__img m-bg-cont">
            <img src="%=static=%img/content/img-1.png" alt="">
        </a>
    </div>
    <div class="prod__title">
        Буква на колесах в ассортименте 14,6 см 6 мм
    </div>
    <div class="prod__article">
        Арктикул: 34578789
    </div>
    <div class="prod__desc">
        Лучшие изделия, благодаря качественным материалам
    </div>

    <div class="prod__price">
        <div class="prod__price-item">
            <span>РОЗН:</span>
            <div class="prod__price-new">
                12500 руб.
            </div>
            <div class="prod__price-old">
                2500 руб.
            </div>
        </div>
        <div class="prod__price-item prod__price-item-2">
            <span>РОЗН:</span>
            <div class="prod__price-new">
                от 2500 руб.
            </div>
            <div class="prod__price-old">
                2500 руб.
            </div>
        </div>
    </div>
    <div class="prod__button">
        <div class="m-button reverse">
            В КОРЗИНУ
            <div class="m-button__icon">
                {{Icon iconName="basket"}}
            </div>
        </div>
    </div>
    
</div>