<div class="overlay "></div>

<div class="popup basket-popup">
    <div class="popup__container">
        <form action="" class="popup-content">
            <!-- <div class="popup__close popupClose">
                {{Icon iconName="close"}}   
            </div> -->
            <div class="m-title-3">
                Товар добавлен в корзину
            </div>
            <button class="popupClose sug__button m-button">
                закрыть
            </button>
        </form>
    </div>
</div>

<div class="popup basket-delete">
    <div class="popup__container">
        <form action="" class="popup-content">
            <div class="m-title-3">
                Товар удален из корзины
            </div>
            <button class="popupClose sug__button m-button ">
                закрыть
            </button>
        </form>
    </div>
</div>
 