<div class="map-marker-img" data-marker="static/img/content/marker.svg"></div>
<div class="overlay"></div>


<div class="trigger-basket-popup callPopup" data-popupBlock="basket-popup"></div>

<div class="popup basket-popup">
    <div class="popup__container">
        <form action="" class="popup-content">
            <div class="m-title-3">
                Товар добавлен в корзину
            </div>
            <button class="popupClose sug__button m-button">
                закрыть
            </button>
        </form>
    </div>
</div>


<div class="trigger-thanx-rev callPopup" data-popupBlock="thanx-rev"></div>

<div class="popup thanx-rev">
    <div class="popup__container">
        <form action="#" class="popup-content">j
            <div class="popup__close popupClose">
                {{Icon iconName="close"}}   
            </div>
            <div class="m-title-3">
                Спасибо за оставленный отзыв!
            </div>
            
        </form>
    </div>
</div>

<div class="trigger-popup-rev callPopup" data-popupBlock="popup-rev"></div>

<div class="popup popup-rev">
    <div class="popup__container">
        <div class="popup-content">
            <div class="popup__close popupClose">
                {{Icon iconName="close"}}   
            </div>
            <div class="m-title-3 mb20">
                Оставьте отзыв
            </div>
            <form action="#" class="popup-rev-form">
                <input class="m-field" type="text" name="name" placeholder="Имя">
                <div class="mb10"></div>
                <input class="m-field" type="text" name="email" placeholder="E-mail">
                <div class="mb10"></div>
                <textarea name="textarea" id="" cols="30" rows="10" class="m-textarea" placeholder="Текст сообщения"></textarea>
                <button class="sug__button m-button">
                    отправить
                </button>
            </form>
        </div>
    </div>
</div>



<div class="trigger-basket-delete callPopup" data-popupBlock="basket-delete"></div>

<div class="popup basket-delete">
    <div class="popup__container">
        <form action="" class="popup-content">
            <div class="m-title-3">
                Товар удален из корзины
            </div>
            <button class="popupClose sug__button m-button ">
                закрыть
            </button>
        </form>
    </div>
</div>



<div class="trigger-popup-thanx callPopup" data-popupBlock="basket-delete"></div>

<div class="popup popup-thanx">
    <div class="popup__container">
        <form action="#" class="popup-content">
            <div class="m-title-3">
                Ваша заявка принята!
            </div>
            <div class="m-desc">
                менеджер свяжется с вами в ближайшее время
            </div>
            <button class="popupClose sug__button m-button ">
                закрыть
            </button>
        </form>
    </div>
</div>
