<div class="news-slider mb85">
        <div class="wrapper">
            <div class="news-slider__container">
                <div class="news-slider__top">
                    <div class="m-title-2">Новости и акции</div>
                </div>
                <div class="news-slider__slider">
                    <div class="slider-button slider-button__prev news-slider-prev">
                        {{Icon iconName="arrow"}}
                    </div>
                    <div class="news-slider__content">
                        <div class="swiper-container news-slider-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                    <div class="news-slider__item">
                                        <div class="news-slider__img">
                                            <a href="#" class="m-bg-cont">
                                                <img src="%=static=%img/content/news-slider.jpg" alt="">
                                            </a>
                                        </div>
    
                                        <div class="news-slider__item-content">
                                            <a href="#" class="news-slider__title">Изделия на заказ по вашему дизайну</a>
                                            <div class="news-slider__desc">Подпишитесь на нашу рассылку Вконтакте и/или Email и будьте всегда вкурсе новинок, спецпредложений, конкурсов и других полезных!</div>
                                            <div class="news-slider__date date">12.10.2019</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="news-slider__item">
                                        <div class="news-slider__img">
                                            <a href="#" class="m-bg-cont">
                                                <img src="%=static=%img/content/news-slider.jpg" alt="">
                                            </a>
                                        </div>
    
                                        <div class="news-slider__item-content">
                                            <a href="#" class="news-slider__title">Изделия на заказ по вашему дизайну</a>
                                            <div class="news-slider__desc">Подпишитесь на нашу рассылку Вконтакте и/или Email и будьте всегда вкурсе новинок, спецпредложений, конкурсов и других полезных!</div>
                                            <div class="news-slider__date date">12.10.2019</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="news-slider__item">
                                        <div class="news-slider__img">
                                            <a href="#" class="m-bg-cont">
                                                <img src="%=static=%img/content/news-slider.jpg" alt="">
                                            </a>
                                        </div>
    
                                        <div class="news-slider__item-content">
                                            <a href="#" class="news-slider__title">Изделия на заказ по вашему дизайну</a>
                                            <div class="news-slider__desc">Подпишитесь на нашу рассылку Вконтакте и/или Email и будьте всегда вкурсе новинок, спецпредложений, конкурсов и других полезных!</div>
                                            <div class="news-slider__date date">12.10.2019</div>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slider-button slider-button__next news-slider-next">
                        {{Icon iconName="arrow"}}
                    </div>
                </div>
            </div>
        </div>
    </div>