<div class="header">
    <div class="wrapper">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">
                    <img src="%=static=%img/content/logo.png" alt="">
                </a>
            </div>
            <div class="header__catalog">
                {{Icon iconName="catalog" className="header__catalog-icon"}}
                <span>Каталог</span>
                <div class="header__sub header-sub">
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1new-year"}}
                            </div>
                            Новый год 2018
                        </a>
                        <div class="header__sub header-sub-sub">
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1new-year"}}
                                        </div>
                                        Новый год 2018
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1box"}}
                                        </div>
                                        Наборы для творчества
                                    </a>
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1house"}}
                                        </div>
                                        Деревянные конструкторы
                                    </a>
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1like"}}
                                        </div>
                                        Заготовки из дерева
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1kruzhka"}}
                                        </div>
                                        Заготовки из керамики
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1brush"}}
                                        </div>
                                        Акриловые краски
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1lock"}}
                                        </div>
                                        Фурнитура для шкатулок
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1time"}}
                                        </div>
                                        Часовые механизмы
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1diamond"}}
                                        </div>
                                        Изделия мастеров
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1order"}}
                                        </div>
                                        Изделия на заказ
                                    </a>
            
                                </div>
                            </div>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1box"}}
                            </div>
                            Наборы для творчества
                        </a>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1house"}}
                            </div>
                            Деревянные конструкторы
                        </a>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1like"}}
                            </div>
                            Заготовки из дерева
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1kruzhka"}}
                            </div>
                            Заготовки из керамики
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1brush"}}
                            </div>
                            Акриловые краски
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1lock"}}
                            </div>
                            Фурнитура для шкатулок
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1time"}}
                            </div>
                            Часовые механизмы
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1diamond"}}
                            </div>
                            Изделия мастеров
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1order"}}
                            </div>
                            Изделия на заказ
                        </a>

                    </div>
                </div>
            </div>
            <div class="header__menu">
                <a href="typical.html">О нас</a>
                <a href="typical.html">Покупателям</a>
                <a href="contacts.html">Контакты</a>
            </div>

            <a href="#" class="header__phone">
                <div class="header__phone-button">
                    {{Icon iconName="phone"}}
                </div>
                <span>+7 795 445 46 45</span>
            </a>
            <div class="header__features">
                <a href="#" class="header__item header-search">
                    {{Icon iconName="lupa"}}
                </a>
                <a href="acc.html" class="header__item header-user">
                    {{Icon iconName="user"}}
                </a>
                <a href="acc.html" class="header__item header-like">
                    {{Icon iconName="like"}}
                    <div class="header-output">
                        0
                    </div>
                </a>
                <a href="basket-1.html" class="header__item header-basket">
                    {{Icon iconName="basket"}}
                    <div class="header-output">
                        0
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>