<div class="header">
    <div class="wrapper">
        <div class="header__container">
            <div class="header__logo">
                <a href="#">
                    <img src="%=static=%img/content/logo.png" alt="">
                </a>
            </div>
            <div class="header__catalog">
                {{Icon iconName="catalog" className="header__catalog-icon"}}
                <span>Каталог</span>
                <div class="header__sub">
                    <a href="#">
                        <div class="header__sub-svg">
                            {{Icon iconName="lupa"}}
                        </div>
                        ghbdtn
                    </a>
                    <a href="#">
                        <div class="header__sub-svg">
                            {{Icon iconName="lupa"}}
                        </div>
                        ghbdtn
                    </a>
                    <a href="#">
                        <div class="header__sub-svg">
                            {{Icon iconName="lupa"}}
                        </div>
                        ghbdtn
                    </a>
                    <a href="#">
                        <div class="header__sub-svg">
                            {{Icon iconName="lupa"}}
                        </div>
                        ghbdtn
                    </a>
                    <a href="#">
                        <div class="header__sub-svg">
                            {{Icon iconName="lupa"}}
                        </div>
                        ghbdtn
                    </a>
                </div>
            </div>
            <div class="header__menu">
                <a href="#">О нас</a>
                <a href="#">Покупателям</a>
                <a href="#">Контакты</a>
            </div>

            <a href="#" class="header__phone">
                <div class="header__phone-button">
                    {{Icon iconName="phone"}}
                </div>
                <span>+7 795 445 46 45</span>
            </a>
            <div class="header__features">
                <a href="#" class="header__item header-search">
                    {{Icon iconName="lupa"}}
                </a>
                <a href="#" class="header__item header-search">
                    {{Icon iconName="user"}}
                </a>
                <a href="#" class="header__item header-search">
                    {{Icon iconName="like"}}
                </a>
                <a href="#" class="header__item header-search">
                    {{Icon iconName="basket"}}
                </a>
            </div>
        </div>
    </div>
</div>