<div class="header">
    <div class="wrapper">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">
                    <img src="%=static=%img/content/logo.png" alt="">
                </a>
            </div>
            <div class="header__catalog">
                {{Icon iconName="catalog" className="header__catalog-icon"}}
                <span>Каталог</span>
                <div class="header__sub header-sub">
                    <div class="header__sub-item header__sub-news">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1news"}}
                            </div>
                            Новинки
                        </a>
                    </div>
                    <div class="header__sub-item header__sub-sale">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1sale"}}
                            </div>
                            Распродажа
                        </a>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1new-year"}}
                            </div>
                            Новый год 2018
                        </a>
                        <div class="header__sub header-sub-sub">
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1new-year"}}
                                        </div>
                                        Новый год 2018
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1box"}}
                                        </div>
                                        Наборы для творчества
                                    </a>
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1house"}}
                                        </div>
                                        Деревянные конструкторы
                                    </a>
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1like"}}
                                        </div>
                                        Заготовки из дерева
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1kruzhka"}}
                                        </div>
                                        Заготовки из керамики
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1brush"}}
                                        </div>
                                        Акриловые краски
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1lock"}}
                                        </div>
                                        Фурнитура для шкатулок
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1time"}}
                                        </div>
                                        Часовые механизмы
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1diamond"}}
                                        </div>
                                        Изделия мастеров
                                    </a>
            
                                </div>
                                <div class="header__sub-item">
                                    <a href="catalog.html">
                                        <div class="header__sub-svg">
                                            {{Icon iconName="1order"}}
                                        </div>
                                        Изделия на заказ
                                    </a>
            
                                </div>
                            </div>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1box"}}
                            </div>
                            Наборы для творчества
                        </a>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1house"}}
                            </div>
                            Деревянные конструкторы
                        </a>
                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1like"}}
                            </div>
                            Заготовки из дерева
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1kruzhka"}}
                            </div>
                            Заготовки из керамики
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1brush"}}
                            </div>
                            Акриловые краски
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1lock"}}
                            </div>
                            Фурнитура для шкатулок
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1time"}}
                            </div>
                            Часовые механизмы
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1diamond"}}
                            </div>
                            Изделия мастеров
                        </a>

                    </div>
                    <div class="header__sub-item">
                        <a href="catalog.html">
                            <div class="header__sub-svg">
                                {{Icon iconName="1order"}}
                            </div>
                            Изделия на заказ
                        </a>

                    </div>
                </div>
            </div>
            <div class="header__menu">
                <a href="typical.html">О нас</a>
                <a href="typical.html">Покупателям</a>
                <a href="contacts.html">Контакты</a>
            </div>

            <a href="#" class="header__phone">
                <div class="header__phone-button">
                    {{Icon iconName="phone"}}
                </div>
                <span>+7 795 445 46 45</span>
            </a>

            <div class="header__mobile">
                <div class="header__mobile-button header-menu-open">
                    {{Icon iconName="menu"}}
                    <div class="header__mobile-menu header-menu">
                        <a href="#">Контакты</a>
                        <a href="#">Кабинет</a>
                        <a href="#">Избранное</a>
                        <a href="#">Корзина</a>
                        <a href="#">Каталог</a>
                    </div>
                </div>
            </div>
            
            <div class="header__features">
                <form class="header__search">
                    {{Icon iconName="lupa" className="header__search-icon"}}
                    <input type="text" class="header__search-input" placeholder="Что вы ищете?" required>
                    <button class="header__search-button">
                        {{Icon iconName="lupa" className="header__search-icon-2"}}
                    </button>
                </form>
                <a href="#" class="header__item header-search">
                    {{Icon iconName="lupa"}}
                </a>
                <a href="acc.html" class="header__item header-user">
                    {{Icon iconName="user"}}
                </a>
                <a href="acc.html" class="header__item header-like">
                    {{Icon iconName="like"}}
                    <div class="header-output">
                        0
                    </div>
                </a>
                <div class="header__item header-basket">
                    {{Icon iconName="basket"}}
                    <div class="header-output">
                        0
                    </div>
                    <div class="header-basket__sub">
                        <div class="header-basket__sub-t">
                                В корзине 20 товаров на 2500 руб.
                        </div>
                        <div class="header-basket__sub-content">
                            
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
    
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
    
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
    
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
    
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
    
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
    
                            <div class="header-basket__item">
                                <div class="header-basket__img m-bg-cont">
                                    <img src="%=static=%/img/content/ord-1.png" alt="">
                                </div>
                                <div class="header-basket__text">
                                    <div class="header-basket__item-title">
                                            Краски гуашь, фирма “Луч”в ассортименте 12 шт
                                    </div>
                                    <div class="header-basket__item-price">
                                        800 ₽
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-basket__button">
                            <a href="basket-1.html" class="m-button">
                                    ПЕРЕЙТИ В КОРЗИНУ   
                                <div class="m-button__icon">
                                    {{Icon iconName="arrow"}}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            
            
            
        </div>
    </div>
</div>