<div class="common mb85">
    <div class="common__container html">
        <div class="wrapper">
            <div class="common__top">
            </div>
            <div class="common__content">
                <div class="common__text">
                    <h2>Заголовок сео-текста</h2>
                        <p>
                            Вопрос о числе знаков в тексте порой является для клиентов чуть ли не первостепенным. Копирайтерам хорошо –  они сталкиваются с самыми разными объемами материала ежедневно, а потому могут почти точно сказать, сколько места займет 1 000 знаков, 2 000 и так далее.
                        </p>
                        <p>
                            Совсем другое дело – клиенты. Сотни раз нам приходилось на пальцах объяснять заказчикам, сколько места на странице займет текст конкретного объема. Видимо, мы созрели до того, чтобы создать некий путеводитель по числу символов, в котором можно будет не только узнать, сколько страниц занимает тысяча или пять тысяч знаков, но еще и скачать примеры статей с конкретным объемом. Итак, давайте начнем.
                        </p>
                        <p>
                            Такой объем материала лучше всего подходит для  небольших описаний рубрик, карточек товаров, определения терминов, скромных приветственных текстов (если нет необходимости оптимизации). Для оптимизации каких-то важных разделов, статей или главных страниц  1 000 знаков маловато. Во-первых. Поисковые системы не любят маленькие тексты, во-вторых – в 1 000 знаков много ключевых запросов не вставишь.
                        </p>
                        <p>
                            На странице 1 000 знаков текста (без пробелов) шрифтом Times New Roman (кегль 12) занимает порядка 40% – 50% площади. Объем разнится из-за того, что статьи без заголовков и подзаголовков занимают меньше места, с оными, соответственно, больше.
                        </p>
                </div>
                <div class="common__im">
                    <img src="%=static=%img/content/common.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>