<div class="pag mt60">
    <div class="pag__container">
        <a href="#" class="pag__prev m-button-2">
            {{Icon iconName="arrow-left"}}
            Назад
        </a>
        <div class="pag__content">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>   
            <a href="#">4</a>
            <a href="#">5</a>
            <span>...</span>
            <a href="#">35</a>
        </div>
        <a href="#" class="pag__next m-button-2">
            Вперед
            {{Icon iconName="arrow-left"}}  
        </a>
    </div>
</div>